@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Signika+Negative:wght@300;400;700&display=swap");

:root {
  --text-title: #ffffff;
  --text-total: #8892b0;
  --text-second-2: #00c4e1;
  --color-background: #313131;
  --color-background-secondary: #0e2443;
  --font-main: "Signika Negative", sans-serif;
  --font-secondary: "Fira Code", monospace;
}

html {
  font-family: var(--font-secondary);
  background-color: var(--color-background);
  color: var(--text-title);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 6rem;
}

strong {
  background-color: #76428a;
  padding: 0.2rem;
}

/* titulo */
.title {
  display: flex;
  align-items: center;
  position: relative;
  padding: 3rem;
}

.title h1 {
  font-size: 2.5rem;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}

.title img {
  width: 160px;
}

/* presentación */
.text-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 48rem;
}

.text-info img {
  width: 160px;
  height: 160px;
  transform: rotate(6deg);
  border-radius: 10px;
}

/* section courses */
.title-projects {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 4rem;
}

.courses-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}

.title-courses {
  text-align: center;
  margin-bottom: 6rem;
}

.courses-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.courses-section img {
  border-radius: 6px;
  width: 300px;
}

@media (max-width: 768px) {
  .text-info {
    flex-direction: column;
  }
  .text-info img {
    order: -1;
  }
  .courses-section {
    display: grid;
    grid-template-columns: auto;
    gap: 8rem;
  }
}

@media (max-width: 530px) {
  .title {
    flex-direction: column;
  }

  .title h1 {
    font-size: 2rem;
    margin-right: 10px;
    position: relative;
    z-index: 1;
  }

  .title img {
    width: 100px;
  }
}
