@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Signika+Negative:wght@300;400;700&display=swap");

:root {
  --text-title: #ffffff;
  --text-total: #8892b0;
  --text-second-2: #00c4e1;
  --color-background: #313131;
  --color-background-secondary: #0e2443;
  --font-main: "Signika Negative", sans-serif;
  --font-secondary: "Fira Code", monospace;
}

html {
  font-family: var(--font-secondary);
  background-color: var(--color-background);
  color: var(--text-title);
}

hr {
  width: 90%;
  margin-bottom: 4rem;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

.presentation {
  height: 50dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  text-align: center;
  flex-direction: column;
}

.presentation img {
  width: 150px;
  height: 150px;
}

/* section courses */
.title-projects {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 4rem;
}

.courses-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.title-courses {
  text-align: center;
  margin-bottom: 6rem;
}

.courses-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.courses-section img {
  width: 100px;
  height: 100px;
}

/* queries */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.6rem;
  }

  .presentation p {
    font-size: 12px;
    margin-top: 1rem;
  }
}

/* min */

@media (min-width: 768px) {
  .presentation {
    flex-direction: row;
    text-align: left;
    margin: 2rem;
  }

  .presentation img {
    width: 200px;
    height: 200px;
  }

  .courses-section {
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }

  .courses-section img {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 1024px) {
  .courses-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8rem;
  }

  .courses-section img {
    width: 150px;
    height: 150px;
  }
}
