@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Signika+Negative:wght@300;400;700&display=swap");

:root {
  --text-title: #ffffff;

  --text-total: #8892b0;
  --text-second-2: #00c4e1;

  --color-background: #313131;
  --color-background-secondary: #0e2443;

  --font-main: "Signika Negative", sans-serif;
  --font-secondary: "Fira Code", monospace;
}

html {
  font-family: var(--font-secondary);
  background-color: var(--color-background);
  color: var(--text-title);
}

h1 {
  font-size: 3rem;
}

.main-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main-section img {
  align-items: center;
  width: 200px;
  height: 200px;
}

.title-projects {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 4rem;
}

/* section courses */
.courses-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8rem;
}

.title-courses {
  text-align: center;
  margin-bottom: 6rem;
}

.courses-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.courses-section img {
  width: 150px;
  height: 150px;
}
