/* section courses */
.title-projects {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 4rem;
}

.courses-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}

.title-courses {
  text-align: center;
  margin-bottom: 6rem;
}

.courses-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.courses-section img {
  border-radius: 6px;
  width: 60%;
}

.courses-section {
  text-align: center;
  h3,
  p {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .text-info {
    flex-direction: column;
  }
  .text-info img {
    order: -1;
  }
  .courses-section {
    display: grid;
    grid-template-columns: auto;
    gap: 8rem;
  }
}

@media (max-width: 530px) {
  .title {
    flex-direction: column;
  }

  .title h1 {
    font-size: 2rem;
    margin-right: 10px;
    position: relative;
    z-index: 1;
  }

  .title img {
    width: 100px;
  }
}
