strong {
  background-color: #76428a;
  padding: 0.2rem;
}

/* titulo */
.title {
  display: flex;
  align-items: center;
  position: relative;
}

.title h1 {
  font-weight: 900;
  font-size: 3.5rem;
  position: relative;
  z-index: 1;
}

/* presentación */
.text-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 38rem;
}

.text-info img {
  width: 160px;
  height: 160px;
  transform: rotate(6deg);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .title {
    padding: 0;
  }
}
